/* app css stylesheet */

html, body {
    margin-bottom: 40px;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu>li {
    display: inline;
}

.menu>li+li:before {
    content: "|";
    padding-right: 0.3em;
}

td {
    padding: 20px;
}

th, .wrapper {
    text-align: center;
}

input.ng-invalid.ng-dirty {
    background-color: pink;
}